langchain
langchain-community
langchain-google-genai
langchain-huggingface
langgraph
neo4j
chromadb
sentence-transformers
pandas
python-dotenv
pydantic-settings
rank_bm25
tqdm
fastapi
uvicorn
networkx
